
.container-admin {
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Boutons */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Cartes utilisateur */
.user-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
}

.user-card h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.user-card p {
    margin-bottom: 10px;
}

.user-card button {
    background-color: #dc3545;
}

.user-card button:hover {
    background-color: #c82333;
}

/* Réactivité */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
