.body_sign_in{
    background-image: url("../images/background-signin.jpg");
    background-size: cover;
}

.sign_in_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
}

.sign_in_block form {
    width: 300px;
    padding: 20px;
    background-color: #d4d4d4;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign_in_block label {
    display: block;
    margin-bottom: 10px;
}

.sign_in_block input[type="text"],
.sign_in_block input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sign_in_block input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign_in_block input[type="submit"]:hover {
    background-color: blue;
}

.sign_in_block p {
    margin-top: 15px;
    text-align: center;
}

.sign_in_block a {
    color: blue;
}
