* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: rgb(14, 14, 44);
  color: #fff;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 88vh; /* Hauteur égale à 50% de la hauteur de la vue */
  background-color: #292a2d;
  
}


/* Make images responsive */
.mySlides {
  width: 98%;
  height: 100%;
  margin-left: 15px;
}

.img-caroussel {
  width: 100%;
  height: 97%; /* Hauteur égale à 100% de la hauteur du conteneur */
  border-radius: 8px;
  object-fit: cover; /* Pour conserver la taille, la forme et la qualité de l'image */
  margin: 10px 10px 10px 0;
  transition: opacity 1s ease-in-out; /* Transition en fondu entre les diapositives */
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -22px;
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  opacity: 0.5;
  background-color: white; /* Ajout d'un fond semi-transparent */
}

/* Position the "next button" to the right */
.next {
  right: 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(41, 143, 198, 0.8);
}

/* Caption text */
.text {
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  width: auto;
  margin: auto;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 15px 18px;
  position: absolute;
  top: 0;
  left: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 10px;
  }
}
/* Animation de fondu */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  animation: fade 2s ease-in-out; /* Appliquez l'animation de fondu à chaque diapositive */
}

/* Animation de défilement des titres */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.big-title,
.small-title {
  animation: slideInFromLeft 2s ease-in-out; /* Appliquez l'animation de défilement aux titres */
}


/* CSS pour les grands titres */
.big-title {
  font-size: 4vw; /* Utilisez vw pour rendre la taille relative à la largeur de la vue */
  font-family: "Arial Black", sans-serif; /* Belle police */
  color: #ffffff; /* Couleur du texte */
  position: absolute; /* Position absolue pour les superposer sur les images */
  top: 50%; /* Position verticale au milieu */
  left: 7%; /* Position horizontale à gauche */
  transform: translateY(-50%); /* Ajustement pour centrer verticalement */
  text-transform: uppercase; /* Conversion en majuscules */
}

/* CSS pour les petits titres */
.small-title {
  font-size: 3vh; /* Utilisez vh pour rendre la taille relative à la hauteur de la vue */
  color: #ffffff; /* Couleur du texte */
  position: absolute; /* Position absolue pour les superposer sur les images */
  bottom: 30%; /* Position en bas */
  left: 7%; /* Position à gauche */
}

/* CSS pour les images de la gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  width: 300px; /* Width of each gallery item */
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for images */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.gallery-item img:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 300px; /* Width of each gallery item */
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for images */
  transition: transform 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.gallery-item .text {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* <!--//////////////////////////////////////////////////////////////--> */
.container-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.bloc-article {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bloc-image,
.bloc-text {
  width: 70%;
}

.bloc-image img {
  width: 100%;
}

.bloc-text {
  padding: 0 20px;
  text-align: justify;
}

.bloc-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.bloc-text h3 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #717171;
}

.bloc-text p {
  font-size: 17px;
  line-height: 1.5;
  text-overflow: ellipsis;
}

/* Media query pour rendre le design responsive */
@media screen and (max-width: 768px) {
  .bloc-article {
    flex-direction: column;
  }

  .bloc-image,
  .bloc-text {
    width: 100%;
  }
}


/* Media queries pour rendre le design responsive */

@media screen and (max-width: 768px) {
  .container-article {
    flex-direction: column;
  }

  .bloc-article-1,
  .bloc-article-2 {
    width: 100%;
  }
}
.hr-article {
  width: 100%;
  height: 10px;
  background-color: #292a2d;
  margin: 10px;

}
.title-gallery{
  font-family: 'Arial Black', sans-serif;
  font-size: calc(1.5em + 0.5vw); /* Adjust font size based on viewport width */
  margin: 0 10px 10px;
  text-align: center;
  color: #fff; /* White text for contrast */
  background: linear-gradient(to right, #f0932b, #f0692b); /* Orange gradient */
  padding: 10px 20px; /* Add some padding for visual separation */
  border-radius: 5px; /* Rounded corners for a softer look */

}
.gallery-item img {
  width: 300px; /* Définir une largeur fixe pour les images */
  height: 200; /* Garder le rapport hauteur/largeur */
  background-size: contain; 
}



/* <!--//////////////////////////////////////////////////////////////--> */

